<div class="side-nav-default">
  <a
    href="index.html"
    class="ctrl-show-hidden-elm home-items flex-row-control flex-vertical-middle side-active"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-home"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Home</span>
    </span>
  </a>
  <ul
    id="side-menu-navigation"
    class="side-row side-menu-navigation nav-font nav-font-size-13"
  >
    <li
      id="menu-item-80"
      class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-80"
    >
      <a href="video-category/gaming/index.html">Gaming</a>
    </li>
    <li
      id="menu-item-81"
      class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-81"
    >
      <a href="video-category/movies/index.html">Movies</a>
    </li>
    <li
      id="menu-item-82"
      class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-82"
    >
      <a href="video-category/sports/index.html">Sports</a>
    </li>
    <li
      id="menu-item-79"
      class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-79"
    >
      <a href="video-category/entertainment/index.html"
        >Entertainment</a
      >
    </li>
    <li
      id="menu-item-83"
      class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_audio_category menu-item-83"
    >
      <a href="audio-category/music/index.html">Music</a>
    </li>
    <li
      id="menu-item-84"
      class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_series_category menu-item-84"
    >
      <a href="series-category/tv-shows/index.html">TV Shows</a>
    </li>
  </ul>
  <a
    href="trending/index.html"
    class="ctrl-show-hidden-elm trending-items flex-row-control flex-vertical-middle"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-bolt"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Trending</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="history_page"
    data-note="Sign in to see your history."
    class="ctrl-show-hidden-elm history-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-history"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">History</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="notifications_page"
    data-note="Sign in to see your notifications."
    class="ctrl-show-hidden-elm subscription-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-bell"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Notifications</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="subscriptions_page"
    data-note="Sign in to see your subscriptions."
    class="ctrl-show-hidden-elm subscription-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-heart"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Subscriptions</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="your_videos_page"
    data-note="Sign in to see your videos."
    class="ctrl-show-hidden-elm your-video-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-video"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Your Videos</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="your_audios_page"
    data-note="Sign in to see your audios."
    class="ctrl-show-hidden-elm your-audio-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-music"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Your Audios</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="your_playlists_page"
    data-note="Sign in to see your playlists."
    class="ctrl-show-hidden-elm your-playlist-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-list-ul"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Your Playlists</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="your_posts_page"
    data-note="Sign in to see your posts."
    class="ctrl-show-hidden-elm your-post-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-blog"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Your Posts</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="transfer_history_page"
    data-note="Sign in to see your transfer history."
    class="ctrl-show-hidden-elm subscription-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-funnel-dollar"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Transfer History</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="watch_later_page"
    data-note="Sign in to see posts you&#039;ve added to your watch later list."
    class="ctrl-show-hidden-elm watch-later-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-clock"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Watch Later</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="rated_page"
    data-note="Sign in to see posts you&#039;ve rated in the past."
    class="ctrl-show-hidden-elm your-rated-items flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-star-half-alt"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Rated Posts</span>
    </span>
  </a>
  <a
    href="main-login/index.html"
    data-redirect="reacted_page"
    data-note="Sign in to see posts you&#039;ve reacted to in the past."
    class="ctrl-show-hidden-elm reacted-posts-item flex-row-control flex-vertical-middle reg-log-popup-control"
  >
    <span class="layer-show">
      <span class="beeteam368-icon-item">
        <i class="fas fa-thumbs-up"></i>
      </span>
    </span>
    <span class="layer-hidden">
      <span class="nav-font category-menu">Reacted Posts</span>
    </span>
  </a>
</div>
<div class="sidemenu-sidebar side-row">
  <div
    id="beeteam368_channel_extensions-3"
    class="widget r-widget-control vidmov-channel-extensions"
  >
    <h2 class="h5 widget-title flex-row-control flex-vertical-middle">
      <span class="beeteam368-icon-item"
        ><i class="fas fa-user-plus"></i></span
      ><span class="widget-title-wrap"
        >Most Subscriptions<span class="wg-line"></span
      ></span>
    </h2>
    <div
      id="blog_wrapper_17777326031655473411"
      class="blog-wrapper global-blog-wrapper blog-wrapper-control flex-row-control site__row"
    >
      <article class="post-item site__col flex-row-control">
        <div class="post-item-wrap">
          <div
            class="author-wrapper flex-row-control flex-vertical-middle"
          >
            <a
              href="channel/channel-id/1/index.html"
              class="author-avatar-wrap"
              title="Nicolas"
            >
              <img
                width="61"
                height="61"
                alt="Author Avatar"
                src="https://secure.gravatar.com/avatar/119915a6b9fb9c5149b70ee96a7bc1a6?s=61&amp;d=mm&amp;r=g"
                sizes="(max-width: 61px) 100vw, 61px"
                srcset="
                  https://secure.gravatar.com/avatar/119915a6b9fb9c5149b70ee96a7bc1a6?s=61&#038;d=mm&#038;r=g   61w,
                  https://secure.gravatar.com/avatar/119915a6b9fb9c5149b70ee96a7bc1a6?s=122&#038;d=mm&#038;r=g 122w
                "
                class="author-avatar"
              />
            </a>
            <div class="author-avatar-name-wrap">
              <h4 class="h5 author-avatar-name max-1line">
                <a
                  href="channel/channel-id/1/index.html"
                  class="author-avatar-name-link"
                  title="Nicolas"
                >
                  <i
                    class="fas fa-check-circle author-verified is-verified"
                  ></i
                  ><span>Nicolas</span>
                </a>
              </h4>
              <span class="author-meta font-meta">
                <i class="icon far fa-heart"></i
                ><span
                  class="subscribers-count subscribers-count-control"
                  data-author-id="1"
                  ><span>46</span
                  ><span class="info-text">Subscribers</span></span
                >
              </span>
            </div>
          </div>
        </div>
      </article>
      <article class="post-item site__col flex-row-control">
        <div class="post-item-wrap">
          <div
            class="author-wrapper flex-row-control flex-vertical-middle"
          >
            <a
              href="channel/channel-id/11/index.html"
              class="author-avatar-wrap"
              title="Adrian"
            >
              <img
                width="61"
                height="61"
                alt="Author Avatar"
                src="wp-content/uploads/2021/12/cropped-pexels-paulo-bert-4192655-1-4.jpg"
                sizes="(max-width: 61px) 100vw, 61px"
                srcset="
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-pexels-paulo-bert-4192655-1-4.jpg  61w,
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-pexels-paulo-bert-4192655-1-5.jpg 122w
                "
                class="author-avatar"
              />
            </a>
            <div class="author-avatar-name-wrap">
              <h4 class="h5 author-avatar-name max-1line">
                <a
                  href="channel/channel-id/11/index.html"
                  class="author-avatar-name-link"
                  title="Adrian"
                >
                  <i class="far fa-user-circle author-verified"></i
                  ><span>Adrian</span>
                </a>
              </h4>
              <span class="author-meta font-meta">
                <i class="icon far fa-heart"></i
                ><span
                  class="subscribers-count subscribers-count-control"
                  data-author-id="11"
                  ><span>10</span
                  ><span class="info-text">Subscribers</span></span
                >
              </span>
            </div>
          </div>
        </div>
      </article>
      <article class="post-item site__col flex-row-control">
        <div class="post-item-wrap">
          <div
            class="author-wrapper flex-row-control flex-vertical-middle"
          >
            <a
              href="channel/channel-id/2/index.html"
              class="author-avatar-wrap"
              title="Nicole"
            >
              <img
                width="61"
                height="61"
                alt="Author Avatar"
                src="wp-content/uploads/2021/12/cropped-ali-morshedlou-WMD64tMfc4k-unsplash-1-4.jpg"
                sizes="(max-width: 61px) 100vw, 61px"
                srcset="
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-ali-morshedlou-WMD64tMfc4k-unsplash-1-4.jpg  61w,
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-ali-morshedlou-WMD64tMfc4k-unsplash-1-5.jpg 122w
                "
                class="author-avatar"
              />
            </a>
            <div class="author-avatar-name-wrap">
              <h4 class="h5 author-avatar-name max-1line">
                <a
                  href="channel/channel-id/2/index.html"
                  class="author-avatar-name-link"
                  title="Nicole"
                >
                  <i class="far fa-user-circle author-verified"></i
                  ><span>Nicole</span>
                </a>
              </h4>
              <span class="author-meta font-meta">
                <i class="icon far fa-heart"></i
                ><span
                  class="subscribers-count subscribers-count-control"
                  data-author-id="2"
                  ><span>6</span
                  ><span class="info-text">Subscribers</span></span
                >
              </span>
            </div>
          </div>
        </div>
      </article>
      <article class="post-item site__col flex-row-control">
        <div class="post-item-wrap">
          <div
            class="author-wrapper flex-row-control flex-vertical-middle"
          >
            <a
              href="channel/channel-id/6/index.html"
              class="author-avatar-wrap"
              title="Carson"
            >
              <img
                width="61"
                height="61"
                alt="Author Avatar"
                src="wp-content/uploads/2021/12/cropped-atikh-bana-2c0midsQKe0-unsplash-1-4.jpg"
                sizes="(max-width: 61px) 100vw, 61px"
                srcset="
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-atikh-bana-2c0midsQKe0-unsplash-1-4.jpg  61w,
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-atikh-bana-2c0midsQKe0-unsplash-1-5.jpg 122w
                "
                class="author-avatar"
              />
            </a>
            <div class="author-avatar-name-wrap">
              <h4 class="h5 author-avatar-name max-1line">
                <a
                  href="channel/channel-id/6/index.html"
                  class="author-avatar-name-link"
                  title="Carson"
                >
                  <i class="far fa-user-circle author-verified"></i
                  ><span>Carson</span>
                </a>
              </h4>
              <span class="author-meta font-meta">
                <i class="icon far fa-heart"></i
                ><span
                  class="subscribers-count subscribers-count-control"
                  data-author-id="6"
                  ><span>6</span
                  ><span class="info-text">Subscribers</span></span
                >
              </span>
            </div>
          </div>
        </div>
      </article>
      <article class="post-item site__col flex-row-control">
        <div class="post-item-wrap">
          <div
            class="author-wrapper flex-row-control flex-vertical-middle"
          >
            <a
              href="channel/channel-id/3/index.html"
              class="author-avatar-wrap"
              title="David"
            >
              <img
                width="61"
                height="61"
                alt="Author Avatar"
                src="wp-content/uploads/2021/12/cropped-prince-akachi-4Yv84VgQkRM-unsplash-1-4.jpg"
                sizes="(max-width: 61px) 100vw, 61px"
                srcset="
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-prince-akachi-4Yv84VgQkRM-unsplash-1-4.jpg  61w,
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-prince-akachi-4Yv84VgQkRM-unsplash-1-5.jpg 122w
                "
                class="author-avatar"
              />
            </a>
            <div class="author-avatar-name-wrap">
              <h4 class="h5 author-avatar-name max-1line">
                <a
                  href="channel/channel-id/3/index.html"
                  class="author-avatar-name-link"
                  title="David"
                >
                  <i class="far fa-user-circle author-verified"></i
                  ><span>David</span>
                </a>
              </h4>
              <span class="author-meta font-meta">
                <i class="icon far fa-heart"></i
                ><span
                  class="subscribers-count subscribers-count-control"
                  data-author-id="3"
                  ><span>5</span
                  ><span class="info-text">Subscribers</span></span
                >
              </span>
            </div>
          </div>
        </div>
      </article>
      <article class="post-item site__col flex-row-control">
        <div class="post-item-wrap">
          <div
            class="author-wrapper flex-row-control flex-vertical-middle"
          >
            <a
              href="channel/channel-id/7/index.html"
              class="author-avatar-wrap"
              title="Cassidy"
            >
              <img
                width="61"
                height="61"
                alt="Author Avatar"
                src="wp-content/uploads/2021/12/cropped-victoria-volkova-_DGX1hmdkmg-unsplash-1-4.jpg"
                sizes="(max-width: 61px) 100vw, 61px"
                srcset="
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-victoria-volkova-_DGX1hmdkmg-unsplash-1-4.jpg  61w,
                  https://vm.beeteam368.net/wp-content/uploads/2021/12/cropped-victoria-volkova-_DGX1hmdkmg-unsplash-1-5.jpg 122w
                "
                class="author-avatar"
              />
            </a>
            <div class="author-avatar-name-wrap">
              <h4 class="h5 author-avatar-name max-1line">
                <a
                  href="channel/channel-id/7/index.html"
                  class="author-avatar-name-link"
                  title="Cassidy"
                >
                  <i class="far fa-user-circle author-verified"></i
                  ><span>Cassidy</span>
                </a>
              </h4>
              <span class="author-meta font-meta">
                <i class="icon far fa-heart"></i
                ><span
                  class="subscribers-count subscribers-count-control"
                  data-author-id="7"
                  ><span>5</span
                  ><span class="info-text">Subscribers</span></span
                >
              </span>
            </div>
          </div>
        </div>
      </article>
    </div>
    <script>
      vidmov_jav_js_object["blog_wrapper_17777326031655473411_params"] =
        { beeteam368_author_query_order_id: "most_subscriptions" };
    </script>
    <script>
      vidmov_jav_js_object["blog_wrapper_17777326031655473411"] = {
        blog_id: 1,
        role: "",
        role__in: [],
        role__not_in: [],
        capability: "",
        capability__in: [],
        capability__not_in: [],
        meta_key: "beeteam368_subscribe_count",
        meta_value: "",
        meta_compare: "",
        include: [],
        exclude: [],
        search: "",
        search_columns: [],
        orderby: "meta_value_num",
        order: "DESC",
        offset: "",
        number: 6,
        paged: 1,
        count_total: true,
        fields: "all",
        who: "",
        has_published_posts: null,
        nicename: "",
        nicename__in: [],
        nicename__not_in: [],
        login: "",
        login__in: [],
        login__not_in: [],
      };
    </script>
    <nav
      class="beeteam368-pagination pagination-loadmore beeteam368-pagination flex-row-control flex-row-center flex-vertical-middle"
      data-paged="1"
      data-template="template-parts/archive/item"
      data-style="marguerite-author-widget"
      data-append-id="#blog_wrapper_17777326031655473411"
      data-query-id="blog_wrapper_17777326031655473411"
      data-total-pages="2"
    >
      <button class="loadmore-btn loadmore-btn-control">
        <span class="loadmore-text loadmore-text-control"
          >Load More</span
        >
        <span class="loadmore-loading">
          <span class="loadmore-indicator">
            <svg>
              <polyline
                class="lm-back"
                points="1 6 4 6 6 11 10 1 12 6 15 6"
              ></polyline>
              <polyline
                class="lm-front"
                points="1 6 4 6 6 11 10 1 12 6 15 6"
              ></polyline>
            </svg>
          </span>
        </span>
      </button>
    </nav>
  </div>
</div>