<footer id="site-footer" class="site-footer">
  <div class="footer-sidebar">
    <div
      class="site__container main__container-control site__container-fluid"
    >
      <div class="site__row flex-row-control footer-sidebar-row">
        <div
          id="text-2"
          class="site__col widget r-widget-control widget_text"
        >
          <h2
            class="h3 widget-title flex-row-control flex-vertical-middle"
          >
            <span class="beeteam368-icon-item"
              ><i class="fas fa-play"></i></span
            ><span class="widget-title-wrap"
              >About VidMov<span class="wg-line"></span
            ></span>
          </h2>
          <div class="textwidget">
            <p>
              VidMov is a Responsive WordPress Theme best suitable for
              <strong
                >VIDEO, MOVIE, PODCAST, NEWS, MAGAZINE, BLOG or REVIEW
                SITES</strong
              >.
            </p>
            <p>
              <em
                >Each and every element has been tested to ensure it
                adapts to modern smartphones and tablets.</em
              >
            </p>
            <p>
              <a
                class="btnn-default btnn-primary"
                style="margin-top: 12px"
                href="https://themeforest.net/item/vidmov-video-wordpress-theme/35542187"
                >FIND OUT MORE
                <i class="icon fas fa-angle-double-right"></i
              ></a>
            </p>
          </div>
        </div>
        <div
          id="nav_menu-2"
          class="site__col widget r-widget-control widget_nav_menu"
        >
          <h2
            class="h3 widget-title flex-row-control flex-vertical-middle"
          >
            <span class="beeteam368-icon-item"
              ><i class="fas fa-list-ul"></i></span
            ><span class="widget-title-wrap"
              >Categories<span class="wg-line"></span
            ></span>
          </h2>
          <div class="menu-side-menu-container">
            <ul id="menu-side-menu-1" class="menu">
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-80"
              >
                <a href="video-category/gaming/index.html">Gaming</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-81"
              >
                <a href="video-category/movies/index.html">Movies</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-82"
              >
                <a href="video-category/sports/index.html">Sports</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-79"
              >
                <a href="video-category/entertainment/index.html"
                  >Entertainment</a
                >
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_audio_category menu-item-83"
              >
                <a href="audio-category/music/index.html">Music</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_series_category menu-item-84"
              >
                <a href="series-category/tv-shows/index.html">TV Shows</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="nav_menu-3"
          class="site__col widget r-widget-control widget_nav_menu"
        >
          <h2
            class="h3 widget-title flex-row-control flex-vertical-middle"
          >
            <span class="beeteam368-icon-item"
              ><i class="fas fa-info"></i></span
            ><span class="widget-title-wrap"
              >Information<span class="wg-line"></span
            ></span>
          </h2>
          <div class="menu-side-menu-container">
            <ul id="menu-side-menu-2" class="menu">
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-80"
              >
                <a href="video-category/gaming/index.html">Gaming</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-81"
              >
                <a href="video-category/movies/index.html">Movies</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-82"
              >
                <a href="video-category/sports/index.html">Sports</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-79"
              >
                <a href="video-category/entertainment/index.html"
                  >Entertainment</a
                >
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_audio_category menu-item-83"
              >
                <a href="audio-category/music/index.html">Music</a>
              </li>
              <li
                class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_series_category menu-item-84"
              >
                <a href="series-category/tv-shows/index.html">TV Shows</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="custom_html-4"
          class="widget_text site__col widget r-widget-control widget_custom_html"
        >
          <h2
            class="h3 widget-title flex-row-control flex-vertical-middle"
          >
            <span class="beeteam368-icon-item"
              ><i class="fas fa-tablet-alt"></i></span
            ><span class="widget-title-wrap"
              >Mobile Apps<span class="wg-line"></span
            ></span>
          </h2>
          <div class="textwidget custom-html-widget">
            <p>
              Download Now Mobile and enjoy it on your iPhone, iPad, and
              iPod touch... all from a modern mobile app powered by the
              VidMov Platform.
            </p>
            <div class="flex-row-control" style="margin: 0 -8px">
              <a href="#" style="display: block; width: 50%; padding: 8px"
                ><img
                  src="wp-content/uploads/2021/11/app-store.png"
                  alt="Download In App Store"
                  width="272"
                  height="81"
              /></a>
              <a href="#" style="display: block; width: 50%; padding: 8px"
                ><img
                  src="wp-content/uploads/2021/11/google-play.png"
                  alt="Get It On Google Play"
                  width="272"
                  height="81"
                  style="display: block"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div
      class="site__container main__container-control site__container-fluid"
    >
      <div class="site__row">
        <div class="site__col">
          Copyright &copy; 2022. Created by BeeTeam368. Powered by
          WordPress.
        </div>
      </div>
    </div>
  </div>
</footer>