<header
        id="beeteam368-site-header"
        class="beeteam368-site-header beeteam368-site-header-control flex-row-control beeteam368-h-poppy"
      >
        <div class="beeteam368-top-menu">
          <div
            class="site__container main__container-control site__container-fluid"
          >
            <div
              class="site__row flex-row-control flex-vertical-middle beeteam368-top-menu-row"
            >
              <div class="beeteam368-sidemenu-btn site__col auto-width">
                <div class="oc-btn oc-btn-control">
                  <div class="bar top"></div>
                  <div class="bar middle"></div>
                  <div class="bar bottom"></div>
                </div>
              </div>
              <div class="site__col auto-width beeteam368-logo">
                <div class="beeteam368-logo-wrap">
                  <a
                    href="index.html"
                    title="VidMov Theme"
                    class="beeteam368-logo-link h1 main-logo-control"
                  >
                    <img
                      width="162"
                      height="38"
                      alt="VidMov Theme"
                      src="wp-content/uploads/2021/11/main-logo-dark.png"
                      sizes="(max-width: 162px) 100vw, 162px"
                      srcset="
                        https://vm.beeteam368.net/wp-content/uploads/2021/11/main-logo-dark.png        162w,
                        https://vm.beeteam368.net/wp-content/uploads/2021/11/main-logo-retina-dark.png 325w
                      "
                      class="beeteam368-logo-img"
                    />
                  </a>
                </div>
              </div>
              <div class="site__col beeteam368-searchbox">
                <div
                  class="beeteam368-searchbox-wrap beeteam368-searchbox-wrap-control flex-row-control flex-vertical-middle"
                >
                  <form
                    action="https://vm.beeteam368.net/"
                    method="get"
                    class="beeteam368-searchform"
                  >
                    <input
                      id="beeteam368-searchtext"
                      class="beeteam368-searchtext beeteam368-searchtext-control"
                      autocomplete="off"
                      type="text"
                      placeholder="Type and hit enter ..."
                      name="s"
                      value=""
                    />
                    <span
                      class="beetam368-back-focus beetam368-back-focus-control flex-row-control flex-vertical-middle flex-row-center"
                      ><i class="fas fa-arrow-left"></i
                    ></span>
                    <div class="beeteam368-search-process floatingBarsG">
                      <div class="blockG rotateG_01"></div>
                      <div class="blockG rotateG_02"></div>
                      <div class="blockG rotateG_03"></div>
                      <div class="blockG rotateG_04"></div>
                      <div class="blockG rotateG_05"></div>
                      <div class="blockG rotateG_06"></div>
                      <div class="blockG rotateG_07"></div>
                      <div class="blockG rotateG_08"></div>
                    </div>
                    <div class="beeteam368-search-suggestions">
                      <a
                        data-href="https://vm.beeteam368.net/"
                        href="index03c7.html?s"
                        class="beeteam368-suggestion-item flex-row-control flex-vertical-middle beeteam368-suggestion-item-keyword-block beeteam368-suggestion-item-keyword-block-control show-block"
                      >
                        <span
                          class="beeteam368-icon-item small-item primary-color"
                          ><i class="fas fa-search"></i
                        ></span>
                        <span
                          class="beeteam368-suggestion-item-content search-with-keyword"
                        >
                          <span
                            class="beeteam368-suggestion-item-title h6 h-light"
                            >Search For:
                            <span
                              class="beeteam368-sg-keyword beeteam368-sg-keyword-control font-weight-bold"
                              >Movie should be distinctly</span
                            ></span
                          >
                        </span>
                        <span
                          class="beeteam368-suggestion-item-content search-with-default"
                        >
                          <span
                            class="beeteam368-suggestion-item-title h6 font-weight-bold"
                            >Please enter a search term in the search box.</span
                          >
                        </span>
                      </a>
                      <div
                        class="beeteam368-sg-new-posts beeteam368-live-search-control"
                      >
                        <h5
                          class="beeteam368-sg-new-posts-heading sg-heading-default"
                        >
                          Do Not Miss
                        </h5>
                        <h5
                          class="beeteam368-sg-new-posts-heading sg-heading-dynamic"
                        >
                          Search Suggestions
                        </h5>
                        <a
                          href="video/call-of-duty-vanguard/index.html"
                          class="beeteam368-suggestion-item beeteam368-suggestion-item-default flex-row-control flex-vertical-middle"
                        >
                          <span class="beeteam368-icon-item small-item"
                            ><i class="fas fa-quote-left"></i
                          ></span>
                          <span class="beeteam368-suggestion-item-content">
                            <span
                              class="beeteam368-suggestion-item-title h6 h-light"
                              >Call of Duty: Vanguard</span
                            >
                            <span
                              class="beeteam368-suggestion-item-tax font-size-10"
                              >Video</span
                            >
                          </span>
                          <span class="beeteam368-suggestion-item-image"
                            ><img
                              width="150"
                              height="150"
                              src="wp-content/uploads/2021/12/2021-12-15_144149-150x150.jpg"
                              class="blog-img"
                              alt=""
                              srcset="
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/2021-12-15_144149-150x150.jpg 150w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/2021-12-15_144149-300x300.jpg 300w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/2021-12-15_144149-420x420.jpg 420w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/2021-12-15_144149-800x800.jpg 800w
                              "
                              sizes="(max-width: 150px) 100vw, 150px"
                          /></span>
                        </a>
                        <a
                          href="playlist/hellbound/index.html"
                          class="beeteam368-suggestion-item beeteam368-suggestion-item-default flex-row-control flex-vertical-middle"
                        >
                          <span class="beeteam368-icon-item small-item"
                            ><i class="fas fa-quote-left"></i
                          ></span>
                          <span class="beeteam368-suggestion-item-content">
                            <span
                              class="beeteam368-suggestion-item-title h6 h-light"
                              >Hellbound</span
                            >
                            <span
                              class="beeteam368-suggestion-item-tax font-size-10"
                              >Playlist</span
                            >
                          </span>
                          <span class="beeteam368-suggestion-item-image"
                            ><img
                              width="150"
                              height="150"
                              src="wp-content/uploads/2021/12/techivation-WHTq-xyU40o-unsplash-150x150.jpg"
                              class="blog-img"
                              alt=""
                              srcset="
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/techivation-WHTq-xyU40o-unsplash-150x150.jpg 150w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/techivation-WHTq-xyU40o-unsplash-300x300.jpg 300w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/techivation-WHTq-xyU40o-unsplash-420x420.jpg 420w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/techivation-WHTq-xyU40o-unsplash-800x800.jpg 800w
                              "
                              sizes="(max-width: 150px) 100vw, 150px"
                          /></span>
                        </a>
                        <a
                          href="video/army-of-the-dead/index.html"
                          class="beeteam368-suggestion-item beeteam368-suggestion-item-default flex-row-control flex-vertical-middle"
                        >
                          <span class="beeteam368-icon-item small-item"
                            ><i class="fas fa-quote-left"></i
                          ></span>
                          <span class="beeteam368-suggestion-item-content">
                            <span
                              class="beeteam368-suggestion-item-title h6 h-light"
                              >Army of the Dead</span
                            >
                            <span
                              class="beeteam368-suggestion-item-tax font-size-10"
                              >Video</span
                            >
                          </span>
                          <span class="beeteam368-suggestion-item-image"
                            ><img
                              width="150"
                              height="150"
                              src="wp-content/uploads/2021/11/theater-of-war-494345_1920-150x150.jpg"
                              class="blog-img"
                              alt=""
                              srcset="
                                https://vm.beeteam368.net/wp-content/uploads/2021/11/theater-of-war-494345_1920-150x150.jpg 150w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/11/theater-of-war-494345_1920-300x300.jpg 300w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/11/theater-of-war-494345_1920-420x420.jpg 420w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/11/theater-of-war-494345_1920-800x800.jpg 800w
                              "
                              sizes="(max-width: 150px) 100vw, 150px"
                          /></span>
                        </a>
                        <a
                          href="audio/the-chapel/index.html"
                          class="beeteam368-suggestion-item beeteam368-suggestion-item-default flex-row-control flex-vertical-middle"
                        >
                          <span class="beeteam368-icon-item small-item"
                            ><i class="fas fa-quote-left"></i
                          ></span>
                          <span class="beeteam368-suggestion-item-content">
                            <span
                              class="beeteam368-suggestion-item-title h6 h-light"
                              >The Chapel</span
                            >
                            <span
                              class="beeteam368-suggestion-item-tax font-size-10"
                              >Audio</span
                            >
                          </span>
                          <span class="beeteam368-suggestion-item-image"
                            ><img
                              width="150"
                              height="150"
                              src="wp-content/uploads/2021/12/pexels-yan-krukov-9005483-150x150.jpg"
                              class="blog-img"
                              alt=""
                              srcset="
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/pexels-yan-krukov-9005483-150x150.jpg 150w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/pexels-yan-krukov-9005483-300x300.jpg 300w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/pexels-yan-krukov-9005483-420x420.jpg 420w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/pexels-yan-krukov-9005483-800x800.jpg 800w
                              "
                              sizes="(max-width: 150px) 100vw, 150px"
                          /></span>
                        </a>
                        <a
                          href="video/relaxing-nature-sounds-for-meditation/index.html"
                          class="beeteam368-suggestion-item beeteam368-suggestion-item-default flex-row-control flex-vertical-middle"
                        >
                          <span class="beeteam368-icon-item small-item"
                            ><i class="fas fa-quote-left"></i
                          ></span>
                          <span class="beeteam368-suggestion-item-content">
                            <span
                              class="beeteam368-suggestion-item-title h6 h-light"
                              >Relaxing Nature Sounds for Meditation</span
                            >
                            <span
                              class="beeteam368-suggestion-item-tax font-size-10"
                              >Video</span
                            >
                          </span>
                          <span class="beeteam368-suggestion-item-image"
                            ><img
                              width="150"
                              height="150"
                              src="wp-content/uploads/2021/12/elephant-1822636_1920-150x150.jpg"
                              class="blog-img"
                              alt=""
                              srcset="
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/elephant-1822636_1920-150x150.jpg 150w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/elephant-1822636_1920-300x300.jpg 300w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/elephant-1822636_1920-420x420.jpg 420w,
                                https://vm.beeteam368.net/wp-content/uploads/2021/12/elephant-1822636_1920-800x800.jpg 800w
                              "
                              sizes="(max-width: 150px) 100vw, 150px"
                          /></span>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="beeteam368-social-account site__col auto-width">
                <div
                  class="beeteam368-social-account-wrap flex-row-control flex-vertical-middle flex-row-center"
                >
                  <div
                    class="beeteam368-icon-item beeteam368-i-submit-control tooltip-style bottom-center beeteam368-global-open-popup-control"
                    data-popup-id="submit_post_add_popup"
                    data-action="open_submit_post_add_popup"
                  >
                    <i class="fas fa-plus"></i>
                    <span class="tooltip-text">Create</span>
                  </div>
                  <a
                    href="main-login/index.html"
                    data-redirect="notifications_page"
                    data-note="Please subscribe your favorite channels to receive notifications."
                    class="beeteam368-icon-item beeteam368-top-menu-notifications reg-log-popup-control tooltip-style bottom-center"
                  >
                    <i class="fas fa-bell"></i>
                    <span class="tooltip-text">Notifications</span>
                  </a>
                  <a
                    href="main-login/index.html"
                    data-redirect="watch_later_page"
                    data-note="Sign in to see posts you&#039;ve added to your watch later list."
                    class="beeteam368-icon-item beeteam368-top-menu-watch-later reg-log-popup-control tooltip-style bottom-center"
                  >
                    <i class="fas fa-clock"></i>
                    <span class="tooltip-text">Watch Later</span>
                  </a>
                  <a
                    href="cart/index.html"
                    class="beeteam368-icon-item beeteam368-top-menu-woo-cart tooltip-style bottom-center"
                  >
                    <i class="fas fa-shopping-cart"></i>
                    <span class="tooltip-text">Cart</span>
                    <span class="cart-total-items">0</span>
                  </a>
                  <a
                    href="buy/index.html"
                    class="beeteam368-icon-item beeteam368-top-menu-purchases tooltip-style bottom-center"
                  >
                    <i class="fas fa-dollar-sign"></i>
                    <span class="tooltip-text">Purchases</span>
                  </a>
                  <a
                    href="membership-subscription-plans/index.html"
                    class="beeteam368-icon-item beeteam368-top-menu-membership tooltip-style bottom-center"
                  >
                    <i class="fas fa-user-shield"></i>
                    <span class="tooltip-text">Membership Plans</span>
                  </a>
                  <div
                    class="beeteam368-icon-item beeteam368-dark-light-btn beeteam368-i-dark-light-btn-control"
                  >
                    <span class="light-bg-layer"></span>
                    <span class="dark-bg-layer"></span>
                    <span class="light-layer"><i class="fas fa-sun"></i></span>
                    <span class="dark-layer"><i class="far fa-sun"></i></span>
                  </div>
                </div>
              </div>
              <div
                class="beeteam368-social-account-sub-nav site__col auto-width"
              >
                <div class="beeteam368-social-account-wrap flex-row-control">
                  <div
                    class="beeteam368-icon-item beeteam368-dark-light-btn beeteam368-i-dark-light-btn-control"
                  >
                    <span class="light-bg-layer"></span>
                    <span class="dark-bg-layer"></span>
                    <span class="light-layer"><i class="fas fa-sun"></i></span>
                    <span class="dark-layer"><i class="far fa-sun"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="beeteam368-main-menu">
          <div
            class="site__container main__container-control site__container-fluid beeteam368-menu-container-mobile"
          >
            <div
              class="site__row flex-row-control flex-vertical-middle beeteam368-main-menu-row"
            >
              <div class="site__col auto-width beeteam368-mobile-menu-btn">
                <div class="oc-mb-mn-btn oc-mb-mn-btn-control">
                  <div class="bar top"></div>
                  <div class="bar middle"></div>
                  <div class="bar bottom"></div>
                </div>
              </div>
              <div class="beeteam368-sidemenu-btn site__col auto-width">
                <div class="oc-btn oc-btn-control">
                  <div class="bar top"></div>
                  <div class="bar middle"></div>
                  <div class="bar bottom"></div>
                </div>
              </div>
              <div class="site__col auto-width beeteam368-logo-mobile">
                <div class="beeteam368-logo-wrap elm-logo-mobile">
                  <a
                    href="index.html"
                    title="VidMov Theme"
                    class="beeteam368-logo-link h1 mobile-logo-control"
                  >
                    <img
                      width="150"
                      height="35"
                      alt="VidMov Theme"
                      src="wp-content/uploads/2021/11/main-logo-mobile-dark.png"
                      sizes="(max-width: 150px) 100vw, 150px"
                      srcset="
                        https://vm.beeteam368.net/wp-content/uploads/2021/11/main-logo-mobile-dark.png        150w,
                        https://vm.beeteam368.net/wp-content/uploads/2021/11/main-logo-mobile-retina-dark.png 299w
                      "
                      class="beeteam368-logo-img"
                    />
                  </a>
                </div>
              </div>
              <div class="beeteam368-main-nav site__col auto-width">
                <ul
                  class="flex-row-control nav-font menu-items-lyt menu-items-lyt-control flex-row-center"
                >
                  <li
                    id="menu-item-21"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-19 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-21"
                  >
                    <a href="index.html"
                      ><span class="lvl1-counter">Home</span></a
                    >
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-59"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-19 current_page_item menu-item-59"
                      >
                        <a href="index.html">Home Page 1</a>
                      </li>
                      <li
                        id="menu-item-64"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"
                      >
                        <a href="home-page-demo-2/index.html">Home Page 2</a>
                      </li>
                      <li
                        id="menu-item-63"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"
                      >
                        <a href="home-page-demo-3/index.html">Home Page 3</a>
                      </li>
                      <li
                        id="menu-item-62"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"
                      >
                        <a href="home-page-demo-4/index.html">Home Page 4</a>
                      </li>
                      <li
                        id="menu-item-61"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"
                      >
                        <a href="home-page-demo-5/index.html">Home Page 5</a>
                      </li>
                      <li
                        id="menu-item-1241"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1241"
                      >
                        <a href="#">Side Menu</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-60"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"
                          >
                            <a href="home-page-demo-6/index.html"
                              >Left (Always Open)</a
                            >
                          </li>
                          <li
                            id="menu-item-1250"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250"
                          >
                            <a href="home-page-demo-7/index.html"
                              >Left (Close)</a
                            >
                          </li>
                          <li
                            id="menu-item-1249"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249"
                          >
                            <a href="home-page-demo-8/index.html"
                              >Right (Always Open)</a
                            >
                          </li>
                          <li
                            id="menu-item-1248"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1248"
                          >
                            <a href="home-page-demo-9/index.html"
                              >Right (Close)</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-22"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-22"
                  >
                    <a href="#"><span class="lvl1-counter">Video</span></a>
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-1090"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1090"
                      >
                        <a href="#">Styles</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1091"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1091"
                          >
                            <a href="video/zombie-massacre/index.html"
                              >Classic Style</a
                            >
                          </li>
                          <li
                            id="menu-item-1349"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1349"
                          >
                            <a href="video/killer-mechanic/index.html"
                              >Special Style</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-2251"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2251"
                      >
                        <a href="#">Video Advertising</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-2245"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2245"
                          >
                            <a href="video/html5-video-ad/index.html"
                              >HTML5 Video Ad</a
                            >
                          </li>
                          <li
                            id="menu-item-2246"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2246"
                          >
                            <a href="video/image-video-ad/index.html"
                              >Image Video Ad</a
                            >
                          </li>
                          <li
                            id="menu-item-2248"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2248"
                          >
                            <a href="video/vast-linear/index.html"
                              >VAST – Linear</a
                            >
                          </li>
                          <li
                            id="menu-item-2247"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2247"
                          >
                            <a href="video/vast-non-linear/index.html"
                              >VAST – Non Linear</a
                            >
                          </li>
                          <li
                            id="menu-item-2250"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2250"
                          >
                            <a
                              href="video/mix-advertising-types-together/index.html"
                              >Mix Advertising Types Together</a
                            >
                          </li>
                          <li
                            id="menu-item-2249"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2249"
                          >
                            <a
                              href="video/autoplay-mix-advertising-types-together/index.html"
                              >[Autoplay] – Mix Advertising Types Together</a
                            >
                          </li>
                          <li
                            id="menu-item-2253"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2253"
                          >
                            <a href="video/google-adsense/index.html"
                              >Google Adsense</a
                            >
                          </li>
                          <li
                            id="menu-item-2334"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2334"
                          >
                            <a
                              href="video/optimal-embedding-mode-with-ads/index.html"
                              >Optimal Embedding Mode with Ads</a
                            >
                          </li>
                          <li
                            id="menu-item-2335"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2335"
                          >
                            <a
                              href="video/basic-embedding-mode-with-ads/index.html"
                              >Basic Embedding Mode with Ads</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-1351"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1351"
                      >
                        <a href="video/day-of-the-warrior/index.html"
                          >Multi-Links</a
                        >
                      </li>
                      <li
                        id="menu-item-1404"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1404"
                      >
                        <a href="video/snipers-bulletproof/index.html"
                          >Time-Lapse (seek-to)</a
                        >
                      </li>
                      <li
                        id="menu-item-1675"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1675"
                      >
                        <a href="#">Subtitles</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1683"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1683"
                          >
                            <a
                              href="video/self-hosted-video-subtitles/index.html"
                              >Self-Hosted Video – Subtitles</a
                            >
                          </li>
                          <li
                            id="menu-item-1684"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1684"
                          >
                            <a
                              href="video/youtube-or-vimeo-subtitles/index.html"
                              >Youtube or Vimeo – Subtitles</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-1863"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1863"
                      >
                        <a href="video/love-other-drugs/index.html"
                          >Autoplay Video</a
                        >
                      </li>
                      <li
                        id="menu-item-1353"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_playlist menu-item-1353"
                      >
                        <a href="playlist/novoland-pearl-eclipse/index.html"
                          >Playlist</a
                        >
                      </li>
                      <li
                        id="menu-item-1377"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_series menu-item-1377"
                      >
                        <a href="series/squid-game/index.html">Series</a>
                      </li>
                      <li
                        id="menu-item-1355"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1355"
                      >
                        <a href="video/army-of-the-dead/index.html"
                          >Youtube Video</a
                        >
                      </li>
                      <li
                        id="menu-item-1400"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1400"
                      >
                        <a href="video/vimeo/index.html">Vimeo</a>
                      </li>
                      <li
                        id="menu-item-1401"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1401"
                      >
                        <a href="video/dailymotion/index.html">Dailymotion</a>
                      </li>
                      <li
                        id="menu-item-1350"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1350"
                      >
                        <a href="video/self-hosted-video/index.html"
                          >Self-Hosted Video</a
                        >
                      </li>
                      <li
                        id="menu-item-1403"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1403"
                      >
                        <a href="video/hls-m3u8-streams/index.html"
                          >HLS (*.m3u8) Streams</a
                        >
                      </li>
                      <li
                        id="menu-item-1356"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1356"
                      >
                        <a href="#">Embed</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1393"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1393"
                          >
                            <a href="video/facebook-iframe/index.html"
                              >Facebook (iframe)</a
                            >
                          </li>
                          <li
                            id="menu-item-1394"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1394"
                          >
                            <a href="video/wistia-iframe/index.html"
                              >Wistia (iframe)</a
                            >
                          </li>
                          <li
                            id="menu-item-1395"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1395"
                          >
                            <a href="video/google-drive-iframe/index.html"
                              >Google Drive (iframe)</a
                            >
                          </li>
                          <li
                            id="menu-item-1396"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1396"
                          >
                            <a href="video/cloudflare/index.html"
                              >Cloudflare (script)</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-23"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-23"
                  >
                    <a href="#"><span class="lvl1-counter">Audio</span></a>
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-1093"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1093"
                      >
                        <a href="#">Styles</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1092"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1092"
                          >
                            <a href="audio/beija-flor/index.html"
                              >Classic Style</a
                            >
                          </li>
                          <li
                            id="menu-item-1348"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1348"
                          >
                            <a href="audio/red-roses/index.html"
                              >Special Style</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-1383"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1383"
                      >
                        <a href="audio/forever/index.html">Multi-Links</a>
                      </li>
                      <li
                        id="menu-item-1405"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1405"
                      >
                        <a href="audio/like-before/index.html"
                          >Time-Lapse (seek-to)</a
                        >
                      </li>
                      <li
                        id="menu-item-1413"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1413"
                      >
                        <a href="playlist/hellbound/page/2/index.html"
                          >Playlist</a
                        >
                      </li>
                      <li
                        id="menu-item-1354"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_series menu-item-1354"
                      >
                        <a href="series/the-wheel-of-time/index.html">Series</a>
                      </li>
                      <li
                        id="menu-item-1385"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1385"
                      >
                        <a href="audio/alba/index.html">Spotify (embed)</a>
                      </li>
                      <li
                        id="menu-item-1387"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1387"
                      >
                        <a href="audio/hour-of-rest/index.html"
                          >Spotify Playlist (embed)</a
                        >
                      </li>
                      <li
                        id="menu-item-1384"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1384"
                      >
                        <a href="audio/all-numbers-end/index.html"
                          >Soundcloud (embed)</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-65"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65"
                  >
                    <a href="#"><span class="lvl1-counter">Sell Media</span></a>
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-2090"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2090"
                      >
                        <a href="#">Membership</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-2091"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2091"
                          >
                            <a href="video/emotional-arithmetic/index.html"
                              >Premium Video</a
                            >
                          </li>
                          <li
                            id="menu-item-2092"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-2092"
                          >
                            <a href="audio/the-chapel/index.html"
                              >Premium Audio</a
                            >
                          </li>
                          <li
                            id="menu-item-2093"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2093"
                          >
                            <a href="membership-subscription-plans/index.html"
                              >Membership &#038; Subscription Plans</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-1422"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-1422"
                      >
                        <a
                          href="video/mobile-official-season-13-winter-war-trailer/index.html"
                          >Premium Video</a
                        >
                      </li>
                      <li
                        id="menu-item-1427"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-1427"
                      >
                        <a href="audio/premium-audio/index.html"
                          >Premium Audio</a
                        >
                      </li>
                      <li
                        id="menu-item-1414"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1414"
                      >
                        <a href="buy/index.html">Purchases</a>
                      </li>
                      <li
                        id="menu-item-1428"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1428"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/transfer_history/index.html"
                          >Transfer History</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-2579"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2579"
                  >
                    <a href="shop/index.html"
                      ><span class="lvl1-counter">Shop</span></a
                    >
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-2639"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2639"
                      >
                        <a
                          href="video/emotional-farewells-in-football/index.html"
                          >Prime Video</a
                        >
                      </li>
                      <li
                        id="menu-item-2640"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_audio menu-item-2640"
                      >
                        <a href="audio/shared-shelter/index.html"
                          >Prime Audio</a
                        >
                      </li>
                      <li
                        id="menu-item-2641"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2641"
                      >
                        <a
                          href="video/the-astonishing-beauty-of-nature/index.html"
                          >Premium Download</a
                        >
                      </li>
                      <li
                        id="menu-item-2642"
                        class="menu-item menu-item-type-post_type menu-item-object-vidmov_video menu-item-2642"
                      >
                        <a
                          href="video/season-five-cinematic-call-of-duty/index.html"
                          >Prime &#038; Premium Download</a
                        >
                      </li>
                      <li
                        id="menu-item-2638"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2638"
                      >
                        <a href="#">Prime &#038; Download (Products)</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-2631"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2631"
                          >
                            <a href="product/prime-video-audio/index.html"
                              >Prime Video/Audio</a
                            >
                          </li>
                          <li
                            id="menu-item-2632"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2632"
                          >
                            <a href="product/premium-download/index.html"
                              >Premium Download</a
                            >
                          </li>
                          <li
                            id="menu-item-2633"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2633"
                          >
                            <a href="product/prime-premium-download/index.html"
                              >Prime &#038; Premium Download</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-2630"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2630"
                      >
                        <a href="#">myCred &#8211; Selling Points (Products)</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-2637"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2637"
                          >
                            <a
                              href="product/selling-points-buy-100-points/index.html"
                              >Selling Points – Buy 100 Points</a
                            >
                          </li>
                          <li
                            id="menu-item-2636"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2636"
                          >
                            <a
                              href="product/selling-points-buy-200-points/index.html"
                              >Selling Points – Buy 200 Points</a
                            >
                          </li>
                          <li
                            id="menu-item-2635"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2635"
                          >
                            <a
                              href="product/selling-points-buy-300-points/index.html"
                              >Selling Points – Buy 300 Points</a
                            >
                          </li>
                          <li
                            id="menu-item-2634"
                            class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2634"
                          >
                            <a
                              href="product/selling-points-buy-600-points/index.html"
                              >Selling Points – Buy 600 Points</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-67"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67"
                  >
                    <a href="#"><span class="lvl1-counter">Elements</span></a>
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-43"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-43"
                      >
                        <a href="#">Header</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-41"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"
                          >
                            <a href="header-classic/index.html"
                              >Header – Classic</a
                            >
                          </li>
                          <li
                            id="menu-item-42"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"
                          >
                            <a href="header-poppy/index.html">Header – Poppy</a>
                          </li>
                          <li
                            id="menu-item-40"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"
                          >
                            <a href="header-alyssa/index.html"
                              >Header – Alyssa</a
                            >
                          </li>
                          <li
                            id="menu-item-39"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"
                          >
                            <a href="header-leilani/index.html"
                              >Header – Leilani</a
                            >
                          </li>
                          <li
                            id="menu-item-38"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"
                          >
                            <a href="header-marguerite/index.html"
                              >Header – Marguerite</a
                            >
                          </li>
                          <li
                            id="menu-item-37"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"
                          >
                            <a href="header-rose/index.html">Header – Rose</a>
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-68"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-68"
                      >
                        <a href="#">Post Layouts</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1541"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1541"
                          >
                            <a href="layout-default/index.html"
                              >Layout – Default</a
                            >
                          </li>
                          <li
                            id="menu-item-1542"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1542"
                          >
                            <a href="layout-alyssa/index.html"
                              >Layout – Alyssa</a
                            >
                          </li>
                          <li
                            id="menu-item-1540"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1540"
                          >
                            <a href="layout-leilani/index.html"
                              >Layout – Leilani</a
                            >
                          </li>
                          <li
                            id="menu-item-1539"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1539"
                          >
                            <a href="layout-lily/index.html">Layout – Lily</a>
                          </li>
                          <li
                            id="menu-item-1538"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1538"
                          >
                            <a href="layout-marguerite/index.html"
                              >Layout – Marguerite</a
                            >
                          </li>
                          <li
                            id="menu-item-1536"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1536"
                          >
                            <a href="layout-rose/index.html">Layout – Rose</a>
                          </li>
                          <li
                            id="menu-item-1537"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1537"
                          >
                            <a href="layout-orchid/index.html"
                              >Layout – Orchid</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-69"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69"
                      >
                        <a href="#">Pagination</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1668"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1668"
                          >
                            <a href="loadmore-button/index.html"
                              >LoadMore Button</a
                            >
                          </li>
                          <li
                            id="menu-item-1669"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1669"
                          >
                            <a href="infinite-scroll/index.html"
                              >Infinite Scroll</a
                            >
                          </li>
                          <li
                            id="menu-item-1670"
                            class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-1670"
                          >
                            <a href="video-category/sports/index.html"
                              >Page Numbers</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-73"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-73"
                      >
                        <a href="#">Single Posts</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1780"
                            class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1780"
                          >
                            <a
                              href="kind-of-blue-portos-azulejo-facades-in-pictures/index.html"
                              >Standard Post</a
                            >
                          </li>
                          <li
                            id="menu-item-1779"
                            class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1779"
                          >
                            <a
                              href="generation-rent-why-ill-never-live-in-a-place-i-can-hang-the-washing/index.html"
                              >Gallery Post</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-71"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-71"
                      >
                        <a href="#">Slider Layouts</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1611"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1611"
                          >
                            <a href="slider-lily/index.html">Slider – Lily</a>
                          </li>
                          <li
                            id="menu-item-1612"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1612"
                          >
                            <a href="slider-alyssa/index.html"
                              >Slider – Alyssa</a
                            >
                          </li>
                          <li
                            id="menu-item-1609"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1609"
                          >
                            <a href="slider-rose/index.html">Slider – Rose</a>
                          </li>
                          <li
                            id="menu-item-1610"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1610"
                          >
                            <a href="slider-orchid/index.html"
                              >Slider – Orchid</a
                            >
                          </li>
                          <li
                            id="menu-item-1613"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1613"
                          >
                            <a href="slider-pro-sunflower/index.html"
                              >Slider – [Pro] Sunflower</a
                            >
                          </li>
                          <li
                            id="menu-item-1614"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1614"
                          >
                            <a href="slider-pro-cyclamen/index.html"
                              >Slider – [Pro] Cyclamen</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-1797"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1797"
                      >
                        <a href="#">Cast &#038; Other Variations</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1799"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1799"
                          >
                            <a href="cast/index.html">Archive</a>
                          </li>
                          <li
                            id="menu-item-1798"
                            class="menu-item menu-item-type-post_type menu-item-object-vidmov_cast menu-item-1798"
                          >
                            <a href="cast/marie-wagenman/index.html">Single</a>
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-1809"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1809"
                      >
                        <a href="#">Sidebar</a>
                        <ul class="sub-menu beeteam368-megamenu-sub">
                          <li
                            id="menu-item-1810"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1810"
                          >
                            <a href="sidebar-right/index.html"
                              >Sidebar – Right</a
                            >
                          </li>
                          <li
                            id="menu-item-1811"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1811"
                          >
                            <a href="sidebar-left/index.html">Sidebar – Left</a>
                          </li>
                          <li
                            id="menu-item-1812"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1812"
                          >
                            <a href="sidebar-hidden/index.html"
                              >Sidebar – Hidden</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-74"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-74"
                  >
                    <a href="#"><span class="lvl1-counter">Channel</span></a>
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        id="menu-item-75"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"
                      >
                        <a href="channel/channel-id/1/index.html"
                          >Member Profile</a
                        >
                      </li>
                      <li
                        id="menu-item-1086"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086"
                      >
                        <a href="member-list/index.html">Member List</a>
                      </li>
                      <li
                        id="menu-item-1692"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1692"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/videos/index.html"
                          >Videos Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1693"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1693"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/audios/index.html"
                          >Audios Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1694"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1694"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/playlists/index.html"
                          >Playlists Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1695"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1695"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/posts/index.html"
                          >Posts Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1696"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1696"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/transfer_history/index.html"
                          >Transfer History Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1697"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1697"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/subscriptions/index.html"
                          >Subscriptions Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1698"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1698"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/watch_later/index.html"
                          >Watch Later Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1699"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1699"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/notifications/index.html"
                          >Notifications Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1700"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1700"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/history/index.html"
                          >History Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1701"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1701"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/rated/index.html"
                          >Rated Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1702"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1702"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/reacted/index.html"
                          >Reacted Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1703"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1703"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/about/index.html"
                          >About Tab</a
                        >
                      </li>
                      <li
                        id="menu-item-1704"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1704"
                      >
                        <a
                          href="channel/channel-id/1/channel-tab/discussion/index.html"
                          >Discussion Tab</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-66"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-66 beeteam368-megamenu beeteam368-megamenu-control"
                  >
                    <a href="#"><span class="lvl1-counter">Mega Menu</span></a>
                    <ul class="sub-menu beeteam368-megamenu-sub">
                      <li
                        class="megamenu-wrapper megamenu-wrapper-control site__container main__container-control"
                      >
                        <div class="site__row">
                          <ul class="megamenu-menu site__col">
                            <li
                              id="menu-item-107"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-107"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="7-9164"
                                href="video-category/movies/index.html"
                                >Movies</a
                              >
                            </li>
                            <li
                              id="menu-item-459"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_audio_category menu-item-459"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="10-28966"
                                href="audio-category/music/index.html"
                                >Music</a
                              >
                            </li>
                            <li
                              id="menu-item-108"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-108"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="6-28464"
                                href="video-category/sports/index.html"
                                >Sports</a
                              >
                            </li>
                            <li
                              id="menu-item-106"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-106"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="5-77779"
                                href="video-category/gaming/index.html"
                                >Gaming</a
                              >
                            </li>
                            <li
                              id="menu-item-110"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_series_category menu-item-110"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="8-91107"
                                href="series-category/tv-shows/index.html"
                                >TV Shows</a
                              >
                            </li>
                            <li
                              id="menu-item-105"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_video_category menu-item-105"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="4-43840"
                                href="video-category/entertainment/index.html"
                                >Entertainment</a
                              >
                            </li>
                            <li
                              id="menu-item-1688"
                              class="menu-item menu-item-type-taxonomy menu-item-object-vidmov_playlist_category menu-item-1688"
                            >
                              <a
                                class="megamenu-item-heading megamenu-item-control"
                                data-id="52-76976"
                                href="playlist-category/romance/index.html"
                                >Romance</a
                              >
                            </li>
                          </ul>
                          <ul class="megamenu-content site__col">
                            <li class="loading-container loading-control abslt">
                              <div class="shape shape-1"></div>
                              <div class="shape shape-2"></div>
                              <div class="shape shape-3"></div>
                              <div class="shape shape-4"></div>
                            </li>
                            <li>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="7-9164"
                                data-tax-object="vidmov_video_category"
                                data-tax-id="7"
                              ></div>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="10-28966"
                                data-tax-object="vidmov_audio_category"
                                data-tax-id="10"
                              ></div>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="6-28464"
                                data-tax-object="vidmov_video_category"
                                data-tax-id="6"
                              ></div>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="5-77779"
                                data-tax-object="vidmov_video_category"
                                data-tax-id="5"
                              ></div>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="8-91107"
                                data-tax-object="vidmov_series_category"
                                data-tax-id="8"
                              ></div>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="4-43840"
                                data-tax-object="vidmov_video_category"
                                data-tax-id="4"
                              ></div>
                              <div
                                class="megamenu-blog-wrapper megamenu-blog-wrapper-control"
                                data-id="52-76976"
                                data-tax-object="vidmov_playlist_category"
                                data-tax-id="52"
                              ></div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div
                class="beeteam368-social-account-sub-login-nav site__col auto-width"
              >
                <div class="beeteam368-social-account-wrap flex-row-control">
                  <a
                    href="main-login/index.html"
                    class="beeteam368-icon-item beeteam368-i-member tooltip-style left-item reg-log-popup-control"
                    data-note="If you already have an account, you can use it to sign in here."
                  >
                    <i class="fas fa-user"></i>
                    <span class="tooltip-text">Click to login or register</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>